<!-- https://getbootstrap.com/docs/4.3/components/list-group/ -->
<!-- https://angular.io/api/common/UpperCasePipe -->

<h1 class="text-center mb-5">Liste des livres</h1>

<div class="list-group list-group-flush">
  <a
    class="d-flex justify-content-between list-group-item list-group-item-action list-group-item-info"
    [ngClass]="{ active: book.selected, disabled: !book.available }"
    (click)="pickItem(i)"
    disabled
    *ngFor="let book of books; let i = index">
      <span>{{ book.title | uppercase }}</span>
      <div>
        <span
          class="badge"
          [ngClass]="{'badge-success': book.copies, 'badge-danger': !book.copies}">
            {{ book.copies }}
        </span>
      </div>
  </a>
</div>
